.heading {
    font-size: 25px;
    width: 100%;
    margin:0px;
    box-shadow: 7px 7px 7px goldenrod;
}

.note {
    font-size:18px;
    color:black;
}

.copy_right_footer {
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    line-height:3;
    text-align:center;
    background-color:lightgray;
    font-size: 18px;
    font-family:'Trebuchet MS';
}

canvas {
    border:5px solid white;
    border-radius:20px;
    box-shadow:7px 7px 7px goldenrod;
}